*.exe
*.obj
*.out
*.compile
*.native
*.byte
*.cmo
*.annot
*.cmi
*.cmx
*.cmt
*.cmti
*.cma
*.a
*.cmxa
*.obj
*~
*.annot
*.cmj
*.bak
lib/
*.mlast
*.mliast
.vscode
node_modules
release/main.js
.merlin
package-lock.json
yarn.lock
.bsb.lock
*.bs.js
